.app-page__container {
    background: rgb(255,111,111);
    background: linear-gradient(135deg, rgba(255,111,111,1) 0%, rgba(240,46,46,1) 100%);
    width: 100%;
    color: #fff;

    .app-page__wrapper {
        margin-right: auto;
        margin-left:  auto;
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;
        
        .app-page__header {
            height: 100%;
            width: 100%;
            margin-bottom: 20px;
        }

        .app-page__content {
            width: 90%;
            margin: auto;

            .app-router-content {
                margin-top: 30px;
            }
            
            ::ng-deep .mat-tab-label, .mat-tab-link{
                color: #fff;
                opacity: 1;
            }
        }
    }
}