.app-page__container {
    background: #FF9398;
    background: linear-gradient(135deg, #FF9398 0%, #ff6f6f 100%);
    width: 100%;
    color: #fff;
    min-height: 100%;

    .app-page__wrapper {
        margin-right: auto;
        margin-left:  auto;
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;
        
        .app-page__header {
            height: 100%;
            width: 100%;
            margin-bottom: 20px;
        }

        .app-page__content {
            width: 90%;
            margin: auto;
            margin-bottom: 50px;

            .app-router-content {
                margin-top: 30px;
            }
            
            ::ng-deep .mat-tab-label, .mat-tab-link{
                color: #fff;
                opacity: 1;
            }
        }
    }
}