<mat-list-touch 
    (swipeLeftAction)="listItemSwipeLeft($event)"
    (swipeRightAction)="listItemSwipeRight($event)"
    [dataSource]="listData.connect().value"
    [separatorEval]="evaluateSeparatorRequired">
    <ng-template #contentTemplate let-item>
        <div class="mat-list-text list-item-details" fxLayout="column" fxLayoutAlign="center begin">
            <small class="text-ellipsis">
                <strong>{{item.name }}</strong>
            </small>
            <!-- <small class="text-ellipsis" fxHide.lt-md>
                {{item.description}}
            </small> -->
        </div>
    </ng-template>
</mat-list-touch>