.documentation-page__container {
    margin-bottom: 30px;
    // * {
    //     color: #000 !important;    
    // }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    pre {
        padding: 16px;
        overflow: auto;
        font-size: 12px;
        line-height: 1.45;
        background-color: rgb(255 255 255 / 47%);
        border-radius: 6px;
        margin-bottom: 20px;
        color: #000;
        margin-top: 20px;
        font-family: "Courier New", Courier, monospace;
    }

    code {
        background: rgb(255 255 255 / 68%);
        padding: 1px 4px 1px 4px;
        color: #000;
        border-radius: 5px;
        margin-right: 2px;
        margin-left: 2px;
        font-size: 13px;
    }
    
    .documentation-page__fold {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: solid 3px #ffffff2e;
        p {
            opacity: 0.9;
        }
        ul {
            padding-left: 20px;
        }
        h2, h1, h3 {
            margin-top: 24px;
            margin-bottom: 16px;
            font-weight: 600;
            line-height: 1.25;
        }
        .documentation-page__smallerfold {
            margin-bottom: 15px;
            margin-top: 15px;
            ul {
                padding-left: 20px;
                li {
                    font-size: 16px;
                    line-height: 1.5;
                    margin-bottom: 2px;
                    opacity: 0.9;
                }
            }
        }
    }
}